body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #fff8dd;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: black;
    font-size: 2em;
    margin: 0;
    font-style: italic;
    text-align: justify;
    letter-spacing: 0.5em;
}

h2 {
    color: brown;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #fff8dd;
}