<h1>Listing carts</h1>

<%= link_to 'New Cart', new_cart_path %>

<div class="media">
  <div class="media-body">  
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td><%= link_to 'Show', cart, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_cart_path(cart), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', cart, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


