<!DOCTYPE html>
<html>
<head>
    <title>Herbaspice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
    <section id="main_content">
    <table>
	   <colgroup>
            <col>
            <col span="2" class="alternative">
        </colgroup>
            <td><h2>Contact details</h2><br><textarea>Hi, This website was created during a project "Learn IT Girl", we do not operate as a regular online store with herbs and we are not a registred company. BUt there's noone stopping you from browsing through it, have fun sometimes!</textarea></td>
            </td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</section>
</body>
</html>
