<!DOCTYPE html>
<html>
<head>
    <title>Herbaspice - Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
    <section id="main_content">
    <table>
       <colgroup>
            <col>
            <col span="2" class="alternative">
        </colgroup>
            <tr>
                <td>This website was created during a project "Learn IT, Girl!". You can read more about the project on: <br> <br> <a href="https://www.facebook.com/learnitgirl/timeline?ref=page_internal">Learn IT, Girl! Facebook page</a> <br> <br> We do not operate as a regular online store with herbs and we are not a registred company. But there's no one stopping you from browsing through it, <b> have fun sometimes!</b><br><br> If you have any questions please contact the webpage administrator: <b>jolancik4@tlen.pl </b></td>
            </td>
        </tr>
</table>
</section>
</body>
</html>
