<!DOCTYPE html>
<html>
<head>
    <title>Herbaspice - homepage</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
   
<table>
    <tr>
    	<td align="justify">
        <td><h1><%= image_tag "logo.jpg", :size=> "130x90" %></h1></td>
        <td><h1>HERBA'SPICE</h1></td>
        <td><h1><%= image_tag "cart.jpg", :size=> "130x90" %></h1></td>
    </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="right"><a href="/login/">Login</a><br>
        	<a href="/register/">Register</a></td>
    </tr>
</table>
<br>
<table>
<nav id="main_nav">
    <tr>
        <td><h2><a href="/index/">Home</a></h2></td>
        <td><h2><a href="/products/">Products</a></h2></td>
        <td><h2><a href="/health/">Health</a></h2></td>
        <td><h2><a href="/recipes/">Recipes</a></h2></td>
        <td><h2><a href="/about/">About us</a></h2></td>
        <td><h2><a href="/contact/">Contact</a></h2></td>
</nav>
</tr>
</table>
<section id="main_content">
<table>
	<colgroup>
        <col>
        <col span="2" class="alternative">
    </colgroup>

        <td><h2>Welcome</h2><br><textarea rows="5" cols="20">Welcome to our website</textarea></td>
        <td><h2>Recommended</h2>
        <figure>
    <img src="camomille.jpg">
    <figcaption>Camomille tea</figcaption>
</figure></td>
    </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</section>
</body>
</html>
