<!DOCTYPE html>
<html>
<head>
    <title>Herbaspice - homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
    <section id="main_content">
    <table>
	   <colgroup>
            <col>
            <col span="2" class="alternative">
        </colgroup>
            <td><h2>Welcome</h2><br><textarea>Welcome to our website</textarea></td>
            </td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</section>
</body>
</html>
